.login-image {
    background-image: url('../../assets/images/truck.jpeg'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
  }
  .login-form {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(235, 235, 244);
  }
  
.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.logo-text {
  font-size: 1.5rem;
  color: blue;
}

.login-box {
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 25px;
    /* text-align: center; */
    max-width: 400px;
    margin: 0 auto;
    width: 500px;
  }

  .login-box h3 {
    margin-bottom: 20px;
    font-weight: 700;
  }
  
  .login-box h6 {
    /* margin-bottom: 20px; */
    color: #a6a3a3;
  }

  .login-box form {
    /* display: flex; */
    flex-direction: column;
    align-items: center;
  }

  .login-box .form-group {
    width: 100%;
    margin-bottom: 15px;
  }
  
  .login-box .form-label {
    text-align: left;
  }

.form-label {
  margin-top: 10px;
  font-weight: 600;
}

.form-group label svg {
  margin-right: 10px;
  color: blue;
}

.signin-button {
  margin-top: 10px;
}

.signin-button:hover {
  background-color: darkblue;
}

@media screen and (max-width: 767px) {
    .login-image {
      display: none;
    }
  }